table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  max-width: 1200px;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height: 3rem;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

h1 {
  text-align: center;
}

th {
  background-color: #00838f;
  color: white;
}

.hatPic {
  height: 50px;
  width: auto;
}
