<h1>Worm Lobby</h1>
<div class="welcomeContainer">
  <h2 class="welcome">
    Welcome
  </h2>
  <input
    [(ngModel)]="username"
    placeholder="{{ username }}"
    class="name"
    maxLength="30"
  />
</div>
<h2>
  Your worm has colour:
  <button
    [(colorPicker)]="color"
    [style.background]="color"
    [cpOutputFormat]="'hex'"
    [cpOKButton]="true"
    (colorPickerSelect)="changeColour()"
    [cpAlphaChannel]="'disabled'"
    [cpDisableInput]="false"
    class="colour"
    [cpSaveClickOutside]="false"
    [cpCloseClickOutside]="true"
  ></button>
</h2>
<h2>You have {{ user.items.length }} items:</h2>
<div
  fxLayout="row"
  fxLayoutGap="32px"
  fxLayoutAlign="center center"
  class="hats"
>
  <button (click)="decrease(i)" [disabled]="i == 0" class="scroll" fxFlex="10">
    <i class="fas fa-arrow-alt-circle-left"></i>
  </button>
  <div *ngFor="let item of user.items.slice(i, i + 3)" fxFlex="10">
    <ng-container *ngIf="assets[item.name.toString()] as asset">
      <img
        (click)="selectHat(item)"
        class="hat"
        src="{{ asset.url }}"
        alt="{{ item.name.toString() }}"
        height="{{ asset.height * 2 }}"
        width="{{ asset.width * 2 }}"
      />
    </ng-container>
  </div>
  <button
    fxFlex="10"
    (click)="increase(i)"
    [disabled]="i == user.items.length - 3"
    class="scroll"
  >
    <i class="fas fa-arrow-alt-circle-right"></i>
  </button>
</div>
<img
  class="clear"
  (click)="clearHat()"
  src="{{ assets.clear.url }}"
  alt="clear"
  height="{{ assets.clear.height }}"
  width="{{ assets.clear.width }}"
/>
<canvas #worm width="300" height="400" class="wormCanvas"></canvas>
<div class="buttonContainer">
  <button (click)="save()" class="saveButton">Save all</button>
  <button (click)="cancel()" class="saveButton">Cancel</button>
</div>
