<h1>Request Login Email</h1>
<h3>
  Enter your scott logic email to receive a log in link for an existing or new
  user account
</h3>
<form *ngIf="!formSent" (ngSubmit)="requestEmail()">
  <div class="emailInput">
    <input placeholder="enter email" [formControl]="registerForm" />
    <label>@scottlogic.com</label>
  </div>
  <div *ngIf="registerForm.errors">
    <p
      class="errorMessage"
      *ngIf="
        (registerForm.touched || registerForm.dirty) &&
        registerForm.errors.required
      "
    >
      this field is required
    </p>
    <p class="errorMessage" *ngIf="registerForm.errors.inValidEmail">
      only alphanumeric characters and hypens permitted
    </p>
  </div>
  <button class="submit" type="submit" [disabled]="!registerForm.valid">
    Submit
  </button>
</form>
<span *ngIf="formSent && emailSent" class="submittedMessage">
  request submitted - please check your inbox for a worm world link!
</span>
<span *ngIf="formSent && !emailSent" class="submittedMessage">
  a worm world link previously sent to this user is still valid, please search
  your inbox
</span>
