<h1>Worm world</h1>
<h3>
  Choose your worm colour:
  <button
    [(colorPicker)]="color"
    [style.background]="color"
    [cpOutputFormat]="'hex'"
    [cpOKButton]="true"
    (colorPickerSelect)="changeColour()"
    [cpAlphaChannel]="'disabled'"
    [cpDisableInput]="false"
    class="colour"
  ></button>
</h3>
<h3 class="grid-container">
  Set your username:
  <input [(ngModel)]="username" class="grid-item name" />
  <button (click)="setUsername()" class="grid-item send" [disabled]="!username">
    <i class="fas fa-check"></i>
  </button>
</h3>
<canvas
  #myCanvas
  width="{{ this.width }}"
  height="{{ this.height }}"
  style="border:1px solid"
  style="background: url('../../../assets/img/underground-design-grass-illustration-79894081.jpg'); background-size: contain"
></canvas>
<pre>{{ gameStates$ | async | json }}</pre>
