<h1>Worm world</h1>
<div class="grid-container">
  <h3>
    Set your username:
  </h3>
  <input [(ngModel)]="username" class="name" />
  <button (click)="setUsername()" class="send" [disabled]="!username">
    <i class="fas fa-check"></i>
  </button>
  <h3 class="colour-heading">
    Choose your worm colour:
  </h3>
  <button
    [(colorPicker)]="color"
    [style.background]="color"
    [cpOutputFormat]="'hex'"
    [cpOKButton]="true"
    (colorPickerSelect)="changeColour()"
    [cpAlphaChannel]="'disabled'"
    [cpDisableInput]="false"
    class="colour"
  ></button>
</div>
<canvas
  #myCanvas
  width="{{ this.width }}"
  height="{{ this.height }}"
  style="border:1px solid"
  style="background: url('../../../assets/img/underground-design-grass-illustration-79894081.jpg'); background-size: contain"
></canvas>
<pre>{{ gameStates$ | async | json }}</pre>
