.colour {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  background-color: white;
  margin-right: 30px;
}

.send {
  color: white;
  border-style: outset;
  background-color: #00bcd4;
  border-color: #00bcd4;
  border-radius: 100px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  width: 40px;
}

.send[disabled] {
  background-color: grey;
  border-color: grey;
  cursor: not-allowed;
}

.name {
  border-style: solid;
  border-color: black;
  font-size: x-large;
  padding-left: 20px;
  border-radius: 100px;
  height: 40px;
}

.name:focus {
  outline: none;
}

.send:focus {
  outline: none;
}

.colour:focus {
  outline: none;
}

.grid-container {
  display: inline-grid;
  align-items: center;
  grid-template-columns:
    minmax(100px, 200px) minmax(150px, 400px) minmax(60px, 100px)
    minmax(100px, 250px) 100px;
  grid-template-rows: 60px;
}

.colour-heading {
  /* text-align: right; */
  /* padding-right: 30px; */
}

.canvas {
  background: url("../../assets/img/underground-design-grass-illustration-79894081.jpg");
  background-size: contain;
  /* width: 90%; */
  max-width: 95%;
  max-height: calc(90vh - 180px);

  /* height: 30vh; */
}
